div.bg{
    background-image: url('/src/assets/images/3d-purple.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.input_card{
    width: 420px;
    /* height: 250px; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    /* color: #fff; */
}
.glass_effect{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 20px;
}
